* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}


footer {
	text-align: center;
	background-color: #933125;
	padding: 12px;
	position: absolute;
	width: 100%;
	margin-top: 100%;
	
}
.p1 {
	color: white;
}

body {
	background-image: url('assets/bg1.jpg');
	background-position-x: center;
	background-size: auto;
}
h4 {
	text-shadow:2px 2px 3px #933125;
}
nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 8vh;
	background-color: #49221d;
	font-family: 'Prompt', sans-serif;

}
.logo {
	color: #ff9589;
	font-size: 35px;
	text-transform: uppercase;
	letter-spacing: 5px;
}
.nav-links{
	display: flex;
	justify-content: space-evenly;
	width: 15%;
}
.nav-links a{
	color: white;
	text-decoration: none;
	letter-spacing: 2px;
	font-weight: bold;
	font-size: 15px;

}
.nav-links li{
	list-style: none;
	padding: 9px
	
}
.menu1 div{
	cursor: pointer;
	width: 25px;
	height: 3px;
	margin: 5px;
	background-color: white;
	transition: all 0.3s ease;
}

@media screen and (min-width:768px)
{
	.nav-links{
	width: 35%;
	}
	.menu1 {
		
		opacity: 0;
	}
	body {
		overflow-x: hidden;
		background-repeat: no-repeat;
		background-size: cover;
		background-attachment: fixed;
		
	}
}

@media screen and (max-width:768px)
{
	body {
		overflow-x: hidden;
		background-position-x: center;
		background-position-y: auto;
		
	}
	.nav-links {
		position: absolute;
		right:0px;
		height: 92vh;
		top: 8vh;
		background-color: #49221d;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 50%;
		transform: translateX(100%);
		transition: transform 0.4s ease-in;
	}
	.nav-links li {
		opacity: 0;
	}
	.menu1 {
		display: block;
		opacity: 1;
	}
}

.nav-active {
	transform: translateX(0%);
}

@keyframes navLinkFade {
	from {
		opacity: 0;
		transform: translateX(50px);
	}
	to {
		opacity: 1;
		transform: translateX(0px);
	}
}

.toggle .line1{
	transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2{
	opacity: 0;
}

.toggle .line3{
	transform: rotate(45deg) translate(-5px, -6px);
}


.btn-5 {
	border: 0 solid;
	box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
	outline: 1px solid;
	outline-color: rgb(255, 149, 137, 1);
	outline-offset: 0px;
	text-shadow: none;
	transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  } 
  
  .btn-5:hover {
	border: 1px solid;
	border-color: white;
	box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
	outline-color: rgba(255, 255, 255, 0);
	outline-offset: 15px;
	text-shadow: 1px 1px 2px rgb(147, 49, 37, 1); 
  }

span {
	color: #933125;
	font-size: 80px;
	font-weight: bold;
	text-shadow: 3px 3px 4px black;
}
.h2set {
	font-size: 70px;
	color: black;
	text-shadow: 3px 3px 4px white;
}
.container {
	width: 100%;
	height: 85vh;
	color: #ff9589;
	text-shadow: 3px 3px 4px black;
	display: flex;
	align-items: center;
	justify-content: center;
	
}

.container h1 {
	font-size: 90px;
}


