* {
	margin:0;
	padding:0;
	box-sizing: border-box;
}


h1 {
    color:FF5733;
	text-align:center;
	font-size:120px;
	position:absolute;
	justify-content: center;
   }
body {
	margin:auto;
	padding:auto;
	background:black;
	display:flex;
	}
#toggle {
		position:relative;
		display:black;
		width: 320px;
		height: 160px;
		border-radius: 160px;
		background: #222;
		transition:0.5s;
		box-shadow: inset 0 8px 60px rgba(0,0,0,0.1),
					inset 0 8px 8px rgba(0,0,0,0.1),
					inset 0 -4px 4px rgba(0,0,0,0.1);
		}
#toggle .indicator {
	
}